# Session 2 - Strings and list objects

# Strings

## Creating a String

In [1]:
# Single word
'hello'

'hello'

In [3]:
# Entire phrase 
'this is string'

'this is string'

In [4]:
# We can also use double quote
"String bulit with double coates"

'String bulit with double coates'

In [6]:
# Be careful with quotes!
"i'm using single coates"

"i'm using single coates"

In [8]:
"now I'm ready to use single coates"

"now I'm ready to use single coates"

In [10]:
# We can simply declare a string
'hello'

'hello'

In [11]:
# note that we can't output multiple strings this way
'hello1'
'hello2'

'hello2'

In [12]:
print("hello1")
print("hello2")

hello1
hello2

### <font color='red'>Python 3 Alert!</font>

**Caution: After importing this; you won't be able to choose the print statement method anymore. So pick the right one whichever  you prefer depending on your Python installation and continue on with it.**

In [19]:
# To use print function from Python 3 in Python 2
from __future__ import print_function
print 'hello'

hello

## String Basics

In [20]:
len("hello world")

11

## String Indexing

In [4]:
# Assign s as a string
s='hello world'

In [5]:
s

'hello world'

In [25]:
# Show first element (in this case a letter)
s[0]

'h'

In [7]:
s[1]

'e'

In [6]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello world'

In [8]:
# Note that there is no change to the original s
s

'hello world'

In [9]:
# Grab everything UP TO the 3rd index
s[:3]

'hel'

In [10]:
#Everything
s[:]

'hello world'

In [13]:
# Last letter (one index behind 0 so it loops back around)
s[:-1]

'hello worl'

In [15]:
# Grab everything but the last letter
s[-1:]

'd'

In [16]:
# Grab everything, but go in steps size of 1
s[::1]

'hello world'

In [17]:
# Grab everything, but go in step sizes of 2
s[::2]

'hlowrd'

In [18]:
# We can use this to print a string backwards
s[::-1]

'dlrow olleh'

## String Properties

In [19]:
s

'hello world'

In [21]:
# Let's try to change the first letter to 'x'
s[0]

'h'

In [22]:
s

'hello world'

In [24]:
# Concatenate strings!
s+' cocatenate me'

'hello world cocatenate me'

In [25]:
# We can reassign s completely though!
print(s)

hello world

In [26]:
s

'hello world'

In [28]:
letter='z'
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

In [29]:
s

'hello world'

In [30]:
# Upper Case a string
s.upper()

'HELLO WORLD'

In [31]:
# Lower case
s.lower()

'hello world'

In [32]:
# Split a string by blank space (this is the default)
s.split()

['hello', 'world']

In [33]:
# Split by a specific element (doesn't include the element that was split on)
s.split('o')

['hell', ' w', 'rld']

## Print Formatting

In [28]:
'my name id:{}'.format({'zoya'})

"my name id:{'zoya'}"

## Location and Counting

In [29]:
s.count('o')

2

In [30]:
s.find('o')

4

In [32]:
s.center(60,'i')

'iiiiiiiiiiiiiiiiiiiiiiiihello worldiiiiiiiiiiiiiiiiiiiiiiiii'

In [36]:
'hello\tworld'.expandtabs()
print("hello\tworld")

hello	world

## is check methods

In [34]:
s='hello'

In [35]:
s.isalnum()

True

In [37]:
s.isalpha()

True

In [38]:
s.lower()

'hello'

In [39]:
s.isspace()

False

In [40]:
s.istitle()

False

In [41]:
s.isupper()

False

In [42]:
s.endswith('e')

False

## Built-in Reg. Expressions

In [43]:
s.split('e')

['h', 'llo']

In [44]:
s.partition('e')

('h', 'e', 'llo')

In [45]:
s

'hello'

# Lists

In [46]:
# Assign a list to an variable named my_list
l=[1,2,3]

In [47]:
lst=['string',55,55.5,'o']

In [48]:
len(lst)

4

### Indexing and Slicing

In [53]:
l=[1,2,3,4,5]

In [51]:
# Grab element at index 0
l[0]

1

In [54]:
# Grab index 1 and everything past it
l[1:]

[2, 3, 4, 5]

In [55]:
# Grab everything UP TO index 3
l[:3]

[1, 2, 3]

In [56]:
l + ['add new item permanently']

[1, 2, 3, 4, 5, 'add new item permanently']

In [57]:
l

[1, 2, 3, 4, 5]

In [58]:
# Reassign
l=l + ['add new item']

In [59]:
l

[1, 2, 3, 4, 5, 'add new item']

In [60]:
# Make the list double
l*2

[1, 2, 3, 4, 5, 'add new item', 1, 2, 3, 4, 5, 'add new item']

In [61]:
# Again doubling not permanent
l

[1, 2, 3, 4, 5, 'add new item']

## Basic List Methods

In [63]:
# Create a new list
l=[1,2,3]

In [64]:
# Append
l.append('append me')

In [65]:
# Show
l

[1, 2, 3, 'append me']

In [66]:
# Pop off the 0 indexed item
l.pop(0)

1

In [67]:
# Show
l

[2, 3, 'append me']

In [68]:
# Assign the popped element, remember default popped index is -1
popped_item=l.pop()

In [69]:
popped_item

'append me'

In [70]:
# Show remaining list
l

[2, 3]

In [127]:
l

[1, 2, 3, 4, 6]

In [76]:
l1=['a','e','x','b','c']

# Show

In [77]:
# Use reverse to reverse order (this is permanent!)
l1.reverse()

In [78]:
l1

['c', 'b', 'x', 'e', 'a']

In [79]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
l1.sort()

In [80]:
l1

['a', 'b', 'c', 'e', 'x']

## Nesting Lists

In [81]:
# Let's make three lists
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
# Make a list of lists to form a matrix
matrix=[a,b,c]

In [83]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Show

In [84]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [85]:
# Grab first item of the first item in the matrix object
matrix[1][2]

6

# List Comprehensions

In [86]:
# Build a list comprehension by deconstructing a for loop within a []
first_col=[row[0] for row in matrix]

In [87]:
first_col

[1, 4, 7]

# Advanced Lists

In [88]:
l=[1,2,3]

## append

In [90]:
l.append(4)
l

[1, 2, 3, 4, 4]

## count

In [91]:
l.count(4)

2

In [92]:
l.count(1)

1

## extend
**append: Appends object at end**

In [99]:
l=[1,2,3,4]
l.append([5,6,'a'])
l

[1, 2, 3, 4, [5, 6, 'a']]

**extend: extends list by appending elements from the iterable**

In [100]:
l=[1,2,3,4]
l.extend([5,6,'a'])
l

[1, 2, 3, 4, 5, 6, 'a']

## index

In [101]:
l.index(4)

3

In [102]:
l.index(3)

2

## insert

In [103]:
l

[1, 2, 3, 4, 5, 6, 'a']

In [104]:
# Place a letter at the index 2
l.insert(2,'insrted')

In [105]:
l

[1, 2, 'insrted', 3, 4, 5, 6, 'a']

## pop

In [106]:
l

[1, 2, 'insrted', 3, 4, 5, 6, 'a']

In [107]:
ele=l.pop()

In [108]:
ele

'a'

## remove

In [109]:
l

[1, 2, 'insrted', 3, 4, 5, 6]

In [112]:
l.remove('insrted')

In [113]:
l

[1, 2, 3, 4, 5, 6]

In [114]:
l

[1, 2, 3, 4, 5, 6]

In [116]:
l.remove(5)

In [117]:
l

[1, 2, 3, 4, 6]

## reverse

In [118]:
l.reverse()

In [119]:
l

[6, 4, 3, 2, 1]

## sort

In [123]:
l

[1, 2, 3, 4, 6]

In [122]:
l.sort()

In [124]:
l

[1, 2, 3, 4, 6]